body {
  background-color: pink;
  color: black;
}

#first-heading {
  color: black;
  background-color: yellow;
}

.myClass {
  background-color: black;
  color: white;
}

button {
  background-color: aqua;
}
